# --- Python ---
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
build/
dist/
*.log

# --- Godot 4+ ---
.godot/
*.translation
.import/
export_presets.cfg

# --- Sistema ---
.DS_Store
Thumbs.db
*.swp

